[project]
	description = This repository is for testing the working of gerrit server
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nikhil-kh
[access "refs/for/refs/*"]
	read = group user/nikhil-kh
	push = group user/nikhil-kh
	label-Code-Review = -2..+2 group user/nikhil-kh
	label-Verified = -1..+1 group user/nikhil-kh
	rebase = group user/nikhil-kh
	removeReviewer = group user/nikhil-kh
	submit = group user/nikhil-kh
[access "refs/heads/*"]
	read = group user/nikhil-kh
	create = group user/nikhil-kh
	push = +force group user/nikhil-kh
	pushMerge = group user/nikhil-kh
[access "refs/tags/*"]
	push = group user/nikhil-kh
	push = +force group user/nikhil-kh
